data/n8n/apple_calendar_athena_workflow.json
{
  "name": "ATHENA Google Calendar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "athena-google-calendar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-apple",
      "name": "Webhook ATHENA Google",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "athena-google-calendar"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const root = $input.first().json || {};\nconst body = (root.body && typeof root.body === 'object') ? root.body : root;\n\nif (String(body.action || '') === '__orbital_connectivity_probe__') {\n  const now = new Date();\n  const end = new Date(now.getTime() + 3600000);\n  return [{ json: { calendar_op: 'list', time_min: now.toISOString(), time_max: end.toISOString() } }];\n}\n\nconst rawOp = String(body.calendar_op || body.op || '').toLowerCase().trim();\nlet calendar_op = '';\n\nif (rawOp === 'delete' || rawOp === 'remove') calendar_op = 'delete';\nelse if (rawOp === 'list' || rawOp === 'get_many' || rawOp === 'search') calendar_op = 'list';\nelse if (rawOp === 'create' || rawOp === 'add') calendar_op = 'create';\n\nif (!calendar_op && body.event_id && !body.starts_at_iso) calendar_op = 'delete';\nif (!calendar_op && (body.time_min || body.time_max)) calendar_op = 'list';\nif (!calendar_op && body.starts_at_iso) calendar_op = 'create';\nif (!calendar_op) {\n  throw new Error('Payload incompleto: use calendar_op (create|delete|list) ou starts_at_iso / event_id / time_min.');\n}\n\nif (calendar_op === 'create') {\n  const title = String(body.title || 'Lembrete').trim();\n  const startsIso = String(body.starts_at_iso || '').trim();\n  if (!startsIso) throw new Error('starts_at_iso e obrigatorio para create');\n  const starts = new Date(startsIso);\n  if (Number.isNaN(starts.getTime())) throw new Error('starts_at_iso invalido');\n  const ends = body.ends_at_iso\n    ? new Date(String(body.ends_at_iso))\n    : new Date(starts.getTime() + 30 * 60 * 1000);\n  if (Number.isNaN(ends.getTime())) throw new Error('ends_at_iso invalido');\n  const notes = String(body.notes || 'Criado pela ATHENAS').trim();\n  return [{\n    json: {\n      calendar_op: 'create',\n      title,\n      summary: title,\n      notes,\n      starts_at_iso: starts.toISOString(),\n      ends_at_iso: ends.toISOString(),\n    },\n  }];\n}\n\nif (calendar_op === 'delete') {\n  const eventId = String(body.event_id || body.id || '').trim();\n  if (!eventId) throw new Error('event_id e obrigatorio para delete');\n  return [{ json: { calendar_op: 'delete', event_id: eventId } }];\n}\n\nconst timeMinRaw = body.time_min ? String(body.time_min) : '';\nconst timeMaxRaw = body.time_max ? String(body.time_max) : '';\nconst timeMin = timeMinRaw ? new Date(timeMinRaw) : new Date();\nconst timeMax = timeMaxRaw\n  ? new Date(timeMaxRaw)\n  : new Date(Date.now() + 7 * 24 * 60 * 60 * 1000);\nif (Number.isNaN(timeMin.getTime()) || Number.isNaN(timeMax.getTime())) {\n  throw new Error('time_min/time_max invalido');\n}\nreturn [{\n  json: {\n    calendar_op: 'list',\n    time_min: timeMin.toISOString(),\n    time_max: timeMax.toISOString(),\n  },\n}];\n"
      },
      "id": "code-parse-cal",
      "name": "Parse Calendar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{ ({ create: 0, delete: 1, list: 2 })[$json.calendar_op] }}"
      },
      "id": "sw-cal-route",
      "name": "Route op",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": "primary",
        "title": "={{ $json.title }}",
        "start": "={{ $json.starts_at_iso }}",
        "end": "={{ $json.ends_at_iso }}",
        "additionalFields": {
          "summary": "={{ $json.summary || $json.title }}",
          "description": "={{ $json.notes }}"
        }
      },
      "id": "gc-create",
      "name": "Google Calendar Create",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [700, 140],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "delete",
        "calendar": "primary",
        "eventId": "={{ $json.event_id }}"
      },
      "id": "gc-delete",
      "name": "Google Calendar Delete",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [700, 300],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": "primary",
        "returnAll": false,
        "limit": 50,
        "timeMin": "={{ $json.time_min }}",
        "timeMax": "={{ $json.time_max }}",
        "options": {}
      },
      "id": "gc-list",
      "name": "Google Calendar List",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [700, 460],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map((i) => {\n  const j = i.json || {};\n  return {\n    id: j.id || null,\n    summary: j.summary || null,\n    start: j.start?.dateTime || j.start?.date || null,\n    end: j.end?.dateTime || j.end?.date || null,\n    htmlLink: j.htmlLink || null,\n  };\n});\nreturn [{ json: { calendar_op: 'list', events: items, count: items.length } }];\n"
      },
      "id": "code-agg-list",
      "name": "Aggregate List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  ok: true,\n  message: 'Reminder created',\n  data: {\n    id: $json.id || null,\n    title: $('Parse Calendar').first().json.title,\n    starts_at_iso: $('Parse Calendar').first().json.starts_at_iso,\n    ends_at_iso: $('Parse Calendar').first().json.ends_at_iso,\n    htmlLink: $json.htmlLink || null\n  }\n}) }}",
        "options": {}
      },
      "id": "respond-create",
      "name": "Respond Create",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  ok: true,\n  message: 'Event deleted',\n  data: { event_id: $('Parse Calendar').first().json.event_id }\n}) }}",
        "options": {}
      },
      "id": "respond-delete",
      "name": "Respond Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [940, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  ok: true,\n  message: 'Events listed',\n  data: { count: $json.count, events: $json.events }\n}) }}",
        "options": {}
      },
      "id": "respond-list",
      "name": "Respond List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1140, 460]
    }
  ],
  "connections": {
    "Webhook ATHENA Google": {
      "main": [
        [
          {
            "node": "Parse Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Calendar": {
      "main": [
        [
          {
            "node": "Route op",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route op": {
      "main": [
        [
          {
            "node": "Google Calendar Create",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Calendar List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Create": {
      "main": [
        [
          {
            "node": "Respond Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Delete": {
      "main": [
        [
          {
            "node": "Respond Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar List": {
      "main": [
        [
          {
            "node": "Aggregate List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate List": {
      "main": [
        [
          {
            "node": "Respond List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "google-calendar-v2-crud",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
