integrations/n8n/spotify/spotify_athena_workflow.json
{
  "name": "ATHENA Spotify Control",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "athena-spotify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh",
      "name": "Webhook ATHENA",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        500
      ],
      "webhookId": "athena-spotify"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Mapeia body.action -> spotifyOp (chaves do Switch n8n: pause, resume, nextSong, …).\n// IMPORTANTE: o Switch NÃO tem chave \"play\" — só \"resume\". Por isso play → resume.\n\nconst root = $input.first().json;\nconst body = root.body && typeof root.body === 'object' ? root.body : root;\nconst pickAction = () => {\n  if (body && typeof body.action === 'string' && body.action.trim()) return body.action;\n  if (body && typeof body.command === 'string' && body.command.trim()) return body.command;\n  if (body && typeof body.intent === 'string' && body.intent.trim()) return body.intent;\n  return '';\n};\n\nconst raw = String(pickAction())\n  .toLowerCase()\n  .trim();\n\nconst normalized = raw\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/\\s+/g, '_');\n\nconst map = {\n  pause: 'pause',\n  pausar: 'pause',\n  play: 'resume',\n  resume: 'resume',\n  start: 'resume',\n  unpause: 'resume',\n  continue: 'resume',\n  continuar: 'resume',\n  retomar: 'resume',\n  despausar: 'resume',\n  next: 'nextSong',\n  skip: 'nextSong',\n  previous: 'previousSong',\n  back: 'previousSong',\n  volume: 'volume',\n  play_playlist: 'startMusic',\n  list_playlists: 'listPlaylists',\n  playlists: 'listPlaylists',\n  listar_playlists: 'listPlaylists',\n  trocar_playlist: 'switchPlaylist',\n  switch_playlist: 'switchPlaylist',\n  change_playlist: 'switchPlaylist',\n  tocar_musica: 'playTrack',\n  play_track: 'playTrack',\n  track: 'playTrack',\n  tocar_genero: 'playGenre',\n  play_genre: 'playGenre',\n  genre: 'playGenre',\n};\n\nlet spotifyOp = map[raw] || map[normalized];\n\n// Health check/ping interno do Orbital.\nif (raw === '__orbital_connectivity_probe__') {\n  spotifyOp = 'healthcheck';\n}\n\n// play / resume / start + dados de faixa -> tocar música específica (não só retomar).\n// Sem isso, action:play + track_name ia para Resume e ignorava o nome.\nconst hasTrackTarget = Boolean(\n  (body.track_uri && String(body.track_uri).trim()) ||\n  (body.track_id && String(body.track_id).trim()) ||\n  (body.track_name && String(body.track_name).trim()) ||\n  (body.track_query && String(body.track_query).trim()) ||\n  (body.track && String(body.track).trim()) ||\n  (body.song && String(body.song).trim()) ||\n  (body.music && String(body.music).trim()) ||\n  (body.query &&\n    String(body.query).trim() &&\n    !body.playlist_uri &&\n    !body.context_uri) ||\n  (body.artist && String(body.artist).trim()) ||\n  (body.artista && String(body.artista).trim())\n);\nif (hasTrackTarget && spotifyOp === 'resume' && raw !== '__orbital_connectivity_probe__') {\n  spotifyOp = 'playTrack';\n}\n\n// Desambiguação: \"playlist\" sem URI/ID -> listar; com URI/ID -> tocar/trocar.\nif (raw === 'playlist' || normalized === 'playlist') {\n  const hasContext = Boolean(\n    body.playlist_uri || body.uri || body.context_uri || body.playlist_id\n  );\n  spotifyOp = hasContext ? 'switchPlaylist' : 'listPlaylists';\n}\n\nif (!spotifyOp) {\n  // Linguagem natural no campo action, ex: \"toca a paixão me levou pfv\"\n  if (/^(toca|toque|tocar|play)\\b/.test(raw)) {\n    spotifyOp = 'playTrack';\n    if (!body.track_query && !body.track_name && !body.track && !body.song && !body.music && !body.query) {\n      const extracted = raw\n        .replace(/^(toca|toque|tocar|play)\\s+/i, '')\n        .replace(/\\b(pfv|por favor)\\b/gi, '')\n        .trim();\n      if (extracted) body.track_query = extracted;\n    }\n  } else if (\n    /\\bplaylist(s)?\\b/.test(raw) &&\n    /\\b(quais|quantas|minhas|lista|listar|mostrar|ver|tenho|salva|salvas|cadastrada|cadastradas|guardada|guardadas)\\b/.test(raw)\n  ) {\n    spotifyOp = 'listPlaylists';\n  }\n}\n\nif (!spotifyOp) {\n  spotifyOp = 'unsupported';\n}\n\nreturn [{ json: { spotifyOp, body, action: raw, normalizedAction: normalized } }];\n"
      },
      "id": "code-map",
      "name": "Map action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        500
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ ({'pause':0,'listPlaylists':0,'healthcheck':0,'unsupported':0})[$json.spotifyOp] ?? 1 }}"
      },
      "id": "sw-needs-dev",
      "name": "Needs device?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        500
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 4,
        "output": "={{ ({'pause':0,'listPlaylists':1,'healthcheck':2,'unsupported':3})[$json.spotifyOp] ?? 3 }}"
      },
      "id": "sw-no-dev",
      "name": "Route no-device",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        200
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.spotify.com/v1/me/player/pause",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-pause",
      "name": "Pause",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        20
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "playlist",
        "operation": "getUserPlaylists",
        "returnAll": true
      },
      "id": "sp-list-pl",
      "name": "List playlists",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        880,
        180
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all().map(i => i.json || {});\nconst playlists = items.map(p => ({\n  id: p.id, uri: p.uri, name: p.name,\n  owner: p.owner?.display_name || p.owner?.id || null,\n  tracks: p.tracks?.total ?? null, public: p.public ?? null,\n}));\nreturn [{ json: { playlists, total: playlists.length } }];"
      },
      "id": "code-fmt-pl",
      "name": "Format playlists",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        180
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { ok: true, probe: true, message: 'Spotify webhook online' } }];"
      },
      "id": "code-probe",
      "name": "Probe ok",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        340
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return [{ json: { error: true, message: 'Acao nao suportada. Use: pause, play, resume, next, previous, volume, list_playlists, switch_playlist, play_track, play_genre.' } }];"
      },
      "id": "code-unsup",
      "name": "Unsupported",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        480
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.spotify.com/v1/me/player/devices",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-get-dev",
      "name": "Get devices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        740
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const root = $input.first().json || {};\nconst raw = root.body || root;\n\n// Detectar erro HTTP (modo fullResponse)\nif (root.statusCode && root.statusCode >= 400) {\n  const msg = (typeof raw === 'object' && raw !== null && raw.error && raw.error.message)\n    ? raw.error.message\n    : `Spotify API erro HTTP ${root.statusCode}`;\n  return [{ json: { error: true, message: msg } }];\n}\n\nconst devices = Array.isArray(raw) ? raw : (raw.devices || []);\nif (!devices.length) {\n  return [{ json: { error: true, message:\n    'Nenhum dispositivo Spotify disponivel. Abra o app no celular, PC ou Web Player e tente novamente.' } }];\n}\nconst usable = devices.filter(d => d && d.id && !d.is_restricted);\nif (!usable.length) {\n  return [{ json: { error: true, message: 'Dispositivos encontrados, mas nenhum permite reproducao.' } }];\n}\nconst score = d => {\n  if (d.is_active) return -10;\n  const t = String(d.type || '').toLowerCase();\n  return t === 'computer' ? 0 : t === 'smartphone' ? 1 : 5;\n};\nusable.sort((a, b) => score(a) - score(b));\nconst pick = usable[0];\nreturn [{ json: { deviceId: pick.id, deviceName: pick.name || '', deviceType: pick.type || '' } }];"
      },
      "id": "code-pick-dev",
      "name": "Pick device",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        740
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json.error === true ? 1 : 0 }}"
      },
      "id": "sw-dev-ok",
      "name": "Device ok?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1100,
        740
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 8,
        "output": "={{ ({'resume':0,'nextSong':1,'previousSong':2,'volume':3,'startMusic':4,'switchPlaylist':5,'playTrack':6,'playGenre':7})[$('Map action').first().json.spotifyOp] ?? 0 }}"
      },
      "id": "sw-actions",
      "name": "Route actions",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1320,
        740
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.spotify.com/v1/me/player/play?device_id=' + $('Pick device').first().json.deviceId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-resume",
      "name": "Resume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        460
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.spotify.com/v1/me/player/next?device_id=' + $('Pick device').first().json.deviceId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-next",
      "name": "Next",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        600
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.spotify.com/v1/me/player/previous?device_id=' + $('Pick device').first().json.deviceId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-prev",
      "name": "Previous",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        740
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.spotify.com/v1/me/player/volume?volume_percent=' + Number($('Map action').first().json.body.volume_percent || $('Map action').first().json.body.volume || 50) + '&device_id=' + $('Pick device').first().json.deviceId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "http-vol",
      "name": "Volume",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        880
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.spotify.com/v1/me/player/play?device_id=' + $('Pick device').first().json.deviceId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ context_uri: $('Map action').first().json.body.playlist_uri || $('Map action').first().json.body.uri || $('Map action').first().json.body.context_uri }) }}"
      },
      "id": "http-start-pl",
      "name": "Start playlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        1020
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.spotify.com/v1/me/player/play?device_id=' + $('Pick device').first().json.deviceId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ context_uri: $('Map action').first().json.body.playlist_uri || $('Map action').first().json.body.uri || $('Map action').first().json.body.context_uri || $('Map action').first().json.body.playlist_id }) }}"
      },
      "id": "http-switch-pl",
      "name": "Switch playlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        1160
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $('Map action').first().json.body || {};\nconst rawAction = String($('Map action').first().json.action || '').trim();\nconst normalizedAction = String($('Map action').first().json.normalizedAction || '').trim();\n\nconst directUri = body.track_uri || body.uri || body.track_id || null;\nif (directUri) return [{ json: { trackUri: directUri } }];\n\nlet q = body.track_query || body.track_name || body.track\n     || body.song || body.music || body.query || '';\n\nif (!q && (rawAction || normalizedAction)) {\n  const src = (normalizedAction || rawAction.toLowerCase())\n    .replace(/^tocar?_?musica_?/i, '')\n    .replace(/^play_?track_?/i, '')\n    .replace(/^toca_?/i, '')\n    .replace(/^play_?/i, '')\n    .replace(/_?pfv$/i, '')\n    .replace(/_?por_favor$/i, '')\n    .replace(/_/g, ' ').trim();\n  if (src) q = src;\n}\n\nconst artist = String(body.artist || body.artista || '').trim();\nif (!q && !artist) {\n  return [{ json: { error: true, message:\n    'Para tocar musica especifica, envie track_name, track_uri ou artist.' } }];\n}\n\nlet trackQuery;\nif (!q && artist) trackQuery = `artist:${artist}`;\nelse if (q && artist) trackQuery = `track:${q} artist:${artist}`;\nelse trackQuery = q;\nreturn [{ json: { trackQuery } }];"
      },
      "id": "code-resolve-tr",
      "name": "Resolve track input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        1340
      ]
    },
    {
      "parameters": {
        "resource": "track",
        "operation": "search",
        "query": "={{ $json.trackQuery }}",
        "returnAll": false,
        "limit": 1
      },
      "id": "sp-search-tr",
      "name": "Search track",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1760,
        1340
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const item = $input.first().json || {};\nif (item.error) return [{ json: item }];\nconst uri = item.uri || null;\nif (!uri) {\n  let q = '';\n  try { q = $('Resolve track input').first().json.trackQuery || ''; } catch(e) {}\n  return [{ json: { error: true, message: `Nao encontrei faixa para: ${q || 'consulta vazia'}` } }];\n}\nreturn [{ json: {\n  trackUri: uri,\n  matchedTrack: item.name || null,\n  matchedArtist: item.artists?.[0]?.name || null\n} }];"
      },
      "id": "code-pick-uri",
      "name": "Pick track URI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        1340
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json.error === true ? 1 : 0 }}"
      },
      "id": "sw-tr-ok",
      "name": "Track ok?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2200,
        1340
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.spotify.com/v1/me/player/play?device_id=' + $('Pick device').first().json.deviceId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ uris: [$json.trackUri] }) }}"
      },
      "id": "http-play-tr",
      "name": "Play track",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2420,
        1340
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body = $('Map action').first().json.body || {};\nconst raw = String(body.genre || body.genero || '').trim().toLowerCase();\nconst map = {\n  pop: 'spotify:playlist:37i9dQZF1DXcBWIGoYBM5M',\n  rock: 'spotify:playlist:37i9dQZF1DWXRqgorJj26U',\n  jazz: 'spotify:playlist:37i9dQZF1DXbITWG1ZJKYt',\n  lofi: 'spotify:playlist:37i9dQZF1DXdxcBWuJkbcy',\n  'lo-fi': 'spotify:playlist:37i9dQZF1DXdxcBWuJkbcy',\n  electronic: 'spotify:playlist:37i9dQZF1DX4dyzvuaRJ0n',\n  eletronic: 'spotify:playlist:37i9dQZF1DX4dyzvuaRJ0n',\n  eletronica: 'spotify:playlist:37i9dQZF1DX4dyzvuaRJ0n',\n  'eletrônica': 'spotify:playlist:37i9dQZF1DX4dyzvuaRJ0n',\n  funk: 'spotify:playlist:37i9dQZF1DXaXB8fQg7xif',\n  rap: 'spotify:playlist:37i9dQZF1DX0XUsuxWHRQd',\n  hiphop: 'spotify:playlist:37i9dQZF1DX0XUsuxWHRQd',\n  hip_hop: 'spotify:playlist:37i9dQZF1DX0XUsuxWHRQd',\n  classica: 'spotify:playlist:37i9dQZF1DWWEJlAGA9gs0',\n  'clássica': 'spotify:playlist:37i9dQZF1DWWEJlAGA9gs0',\n  classical: 'spotify:playlist:37i9dQZF1DWWEJlAGA9gs0',\n};\nconst uri = map[raw] || body.playlist_uri || body.uri || null;\nif (!uri) {\n  return [{ json: { error: true, message: 'Genero nao reconhecido. Envie genre ou playlist_uri.' } }];\n}\nreturn [{ json: { genreUri: uri } }];"
      },
      "id": "code-genre",
      "name": "Genre to playlist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        1520
      ]
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{ $json.error === true ? 1 : 0 }}"
      },
      "id": "sw-genre-ok",
      "name": "Genre ok?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1760,
        1520
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.spotify.com/v1/me/player/play?device_id=' + $('Pick device').first().json.deviceId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "spotifyOAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ context_uri: $json.genreUri }) }}"
      },
      "id": "http-play-genre",
      "name": "Play genre",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        1520
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "Spotify account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { let m = {}; try { m = $('Map action').first().json || {}; } catch(e) {} const r = $json || {}; const sc = r.statusCode; const ok = sc != null ? (sc >= 200 && sc < 300) : (r.error !== true); return JSON.stringify({ ok, action: m.action, spotifyOp: m.spotifyOp, result: r });})() }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2640,
        740
      ]
    }
  ],
  "connections": {
    "Webhook ATHENA": {
      "main": [
        [
          {
            "node": "Map action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map action": {
      "main": [
        [
          {
            "node": "Needs device?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs device?": {
      "main": [
        [
          {
            "node": "Route no-device",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route no-device": {
      "main": [
        [
          {
            "node": "Pause",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List playlists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Probe ok",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unsupported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pause": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List playlists": {
      "main": [
        [
          {
            "node": "Format playlists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format playlists": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Probe ok": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unsupported": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get devices": {
      "main": [
        [
          {
            "node": "Pick device",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick device": {
      "main": [
        [
          {
            "node": "Device ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Device ok?": {
      "main": [
        [
          {
            "node": "Route actions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route actions": {
      "main": [
        [
          {
            "node": "Resume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Next",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Previous",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Volume",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start playlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch playlist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve track input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Genre to playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Volume": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start playlist": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch playlist": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve track input": {
      "main": [
        [
          {
            "node": "Search track",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search track": {
      "main": [
        [
          {
            "node": "Pick track URI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick track URI": {
      "main": [
        [
          {
            "node": "Track ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track ok?": {
      "main": [
        [
          {
            "node": "Play track",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Play track": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Genre to playlist": {
      "main": [
        [
          {
            "node": "Genre ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Genre ok?": {
      "main": [
        [
          {
            "node": "Play genre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Play genre": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}